# Node modules
node_modules/

# Logs
logs
*.lonpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
backend/.env

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Mac system files
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build directories
dist/
build/

# Coverage reports
coverage/
